In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('emails.csv')

In [4]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [6]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [9]:
df.drop_duplicates().head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [13]:
df['Prediction']

0       0
1       0
2       0
3       0
4       0
       ..
5167    0
5168    0
5169    1
5170    1
5171    0
Name: Prediction, Length: 5172, dtype: int64

In [31]:
x=df.drop('Prediction',axis='columns').drop('Email No.',axis='columns')

In [32]:
x

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,2,2,2,3,0,0,32,0,0,5,...,0,0,0,0,0,0,0,0,0,0
5168,35,27,11,2,6,5,151,4,3,23,...,0,0,0,0,0,0,0,0,1,0
5169,0,0,1,1,0,0,11,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5170,2,7,1,0,2,1,28,2,0,8,...,0,0,0,0,0,0,0,0,1,0
5171,22,24,5,1,6,5,148,8,2,23,...,0,0,0,0,0,0,0,0,0,0

In [34]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [38]:
y=df['Prediction']

In [39]:
y

0       0
1       0
2       0
3       0
4       0
       ..
5167    0
5168    0
5169    1
5170    1
5171    0
Name: Prediction, Length: 5172, dtype: int64

In [75]:
from sklearn.neighbors import KNeighborsClassifier
#import sklearn as sn
from sklearn import metrics as mt

In [76]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=0.20, random_state=10)

In [77]:
x_train

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
4164,0,0,1,0,1,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113,24,11,23,2,11,2,110,6,9,39,...,0,0,0,0,0,0,0,0,0,0
2697,2,10,2,1,4,1,34,8,0,7,...,0,0,0,0,0,0,0,0,0,0
737,3,3,1,2,0,0,19,1,0,3,...,0,0,0,0,0,0,0,0,0,0
4214,4,4,2,1,0,4,31,1,1,3,...,0,0,0,0,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1180,1,2,2,0,1,1,25,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3441,4,8,1,2,1,2,34,2,0,12,...,0,0,0,0,0,0,0,0,1,0
1344,0,1,2,0,1,0,5,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4623,0,0,1,0,1,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1289,0,0,1,0,1,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
knnc=KNeighborsClassifier(n_neighbors=2)

In [79]:
knnc.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=2)

In [80]:
output=knnc.predict(x_test)

In [81]:
output

array([0, 0, 0, ..., 1, 1, 0], dtype=int64)

In [82]:
mt.accuracy_score(output , y_test)

0.8734299516908213

In [83]:
knnc.score(x_test,y_test)

0.8734299516908213

In [84]:
mt.mean_squared_error(output,y_test)

0.12657004830917876

In [86]:
mt.mean_squared_error(output,y_test,squared= False)

0.355766845432762

In [90]:
mt.confusion_matrix(output,y_test)

array([[687,  81],
       [ 50, 217]], dtype=int64)

In [94]:
from sklearn.svm import SVC

In [95]:
svm= SVC()

In [96]:
svm.fit(x_train,y_train)

SVC()

In [98]:
output2=svm.predict(x_test)

In [99]:
output2

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [101]:
svm.score(x_test,y_test)

0.8135265700483092

In [106]:
mt.accuracy_score(output2,y_test)

0.8135265700483092

In [107]:
mt.mean_squared_error(output2,y_test)

0.18647342995169083

In [108]:
mt.mean_squared_error(output2,y_test,squared=False)

0.43182569394570636

In [109]:
mt.confusion_matrix(output2,y_test)

array([[723, 179],
       [ 14, 119]], dtype=int64)